<!-- langchain-docs: Check SSO email verification status | https://docs.langchain.com/langsmith/smith-api/auth/check-sso-email-verification-status -->

# Check SSO email verification status

/langsmith/langsmith-platform-openapi.json post /api/v1/sso/email-verification/status
Retrieve the email verification status of an SSO user.